<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Whatsapp
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <app-item-chat
    *ngFor="let chat of chats" 
    [username]="chat.username"
    [message]="chat.message"
    [date]="chat.date"
    [avatarUrl]="chat.avatarUrl"
    ></app-item-chat>

  </ion-list>

  
</ion-content>
